footer {
  text-align: left;
  margin-bottom: 4rem;
  color: var(--gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  & p, & a, & ul, & li {
    color: var(--gray);
    margin: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
